@import './_variables.less';

* {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
}

body {
    font-family: @main_font;
    padding-top: 50px;
    background-color: @ui_color_body;
}

button {
    border: none;
    background-color: transparent;
}

.content {
    padding: 50px;
}

.nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: @ui_color_nav;
    z-index: 20;
    .nav-item {
        height: 50px;
        line-height: 50px;
        padding: 0  20px;
        text-decoration: none;
        color: @ui_color_nav_text;
        &:hover {
            background-color: @ui_color_nav_hover;
        }
    }
}

.ui-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &-last {
        margin-bottom: 0;
    }
    &-align-right {
        justify-content: flex-end;
    }
}

.ui-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    .ui-block-name {
        font-size: @font_size;
        color: @ui_color_text;
        padding-right: 20px;
    }
}

.ui-input {
    color: @ui_color_input_text;
    height: @ui_height;
    border-radius: @border_radius_middle;
    border: @ui_border;
    background-color: @ui_color_input;
    padding: 0 14px;
    font-size: @font_size;
    &::placeholder {
        font-style: italic;
        color: #ddd;
    }
}

.ui-button {
    height: @ui_height;
    padding: 0 25px;
    color: #fff;
    border: none;
    font-size: @font_size;
    background-color: @ui_color_button;
    border-radius: @border_radius_middle;
    cursor: pointer;
    &.disabled {
        background-color: transparent;
        color: @ui_color_cancel;
        border: 1px solid @ui_color_cancel;
        cursor: default;
        &:hover {
            background-color: transparent;
        }
    }
    &.arrow {
        background-repeat: no-repeat;
        background-position: right 25px center;
        background-size: 16px;
        padding-right: 66px;
        background-image: url('../assets/button-arrow.svg');
        &.disabled {
            background-image: none;
            padding-right: 25px;
        }
    }
    &:hover {
        background-color: @ui_color_button_hover;
    }
    &-delete {
        background-color: @ui_color_decline;
        &:hover {
            background-color: @ui_color_decline_hover;
        }
    }
    &-cancel {
        background-color: @ui_color_cancel;
        &:hover {
            background-color: @ui_color_cancel_hover;
        }
    }
}

.ui-icon {
    width: @ui_icon_size;
    height: @ui_icon_size;
    position: relative;
    display: block;
    box-sizing: border-box;
    &-remove {
        border-radius: 50%;
        background-color: @ui_color_decline;
        cursor: pointer;
        &:before, &:after {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            width: calc(@ui_icon_size * .4);
            height: 2px;
            background-color: @ui_icon_alt_color;
            transform: rotate(45deg);
            margin: -1px 0 0 calc(@ui_icon_size * -0.2);
            content: ' '
        }
        &:after {
            transform: rotate(135deg);
        }
        &:hover {
            background-color: @ui_color_decline_hover;
        }
    }
}