@import './_variables.less';

* {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
}
.dn {
    display: none;
}

html {
    min-height: 100%;
    height: auto !important;
}

body {
    min-height: 100%;
    height: auto !important;
    font-family: @main_font;
    color: @ui_color_text;
    font-size: @font_size;
    .ui_body_background;
}

button {
    border: none;
    background-color: transparent;
    border: none;
}

.content {
    padding: 50px;
}

.nav {
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    z-index: 20;
    .nav-item {
        height: 50px;
        line-height: 50px;
        padding: 0  20px;
        text-decoration: none;
        color: @ui_color_nav_text;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: .75rem;
        cursor: pointer;
        &:hover {
            color: @ui_color_nav_text_hover;
        }
    }
}

.ui-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &-last {
        margin-bottom: 0;
    }
    &-align-right {
        justify-content: flex-end;
    }
}

.ui-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
    .ui-block-name {
        font-size: 100%;
        color: @ui_color_text;
        padding-right: 20px;
    }
}

.ui-input {
    color: @ui_color_input_text;
    height: @ui_height;
    border-radius: @border_radius_middle;
    border: @ui_border;
    background-color: @ui_color_input;
    padding: 0 14px;
    font-size: @font_size;
    box-shadow: inset 0 2px 20px #00000020;
    &::placeholder {
        font-style: italic;
        color: #ddd;
    }
    &.ui-input-words-count {
        width: 100px;
        text-align: center;
    }
}

.ui-select {
    display: block;
    appearance: none;
    border: none;
    border-radius: @border_radius_middle;
    padding: 0 @ui_height * .5 0 @ui_height * .2;
    font-size: @font_size;
    color: @ui_color_element_text;
    position: relative;
    height: @ui_height;
    .ui_button_background;

    background-position: right @ui_height * .3 center;
    background-size: 10px;
    background-repeat: no-repeat;
    background-image: url('../assets/select-arrow.svg');
    &:before {
        display: block;
        content: '';
        position: absolute;
        background-color: #fff;
        width: 10px;
        height: 10px;
        right: 0;
        top: 0;
    }
}

.ui-button {
    height: @ui_height;
    padding: 0 25px;
    color: #ffffffdd;
    border: 2px solid #ffffff00;
    font-size: @font_size;
    .ui_button_background;
    border-radius: @border_radius_middle;
    cursor: pointer;
    // box-shadow: 0 2px 6px #00000030;
    box-sizing: border-box;
    &.disabled {
        background-color: transparent;
        color: #ffffff22;
        border: 1px solid #ffffff22;
        cursor: default;
        box-shadow: none;
        &:hover {
            background-color: transparent;
        }
    }
    &.arrow {
        background-repeat: no-repeat;
        background-position: right 25px center;
        background-size: 16px;
        padding-right: 66px;
        background-image: url('../assets/button-arrow.svg');
        &.disabled {
            background-image: none;
            padding-right: 25px;
        }
    }
    &:hover {
        border-color: #ffffff33;
        // background-color: @ui_color_button_hover;
    }
    &-delete {
        background-color: @ui_color_decline;
        &:hover {
            background-color: @ui_color_decline_hover;
        }
    }
    &-cancel {
        background-color: @ui_color_cancel;
        &:hover {
            background-color: @ui_color_cancel_hover;
        }
    }
    &.margin-left {
        margin-left: 20px;
    }
}

.dictation-container {
    width: 750px;
}
.dictation-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .ui-block {
        margin-bottom: 0;
    }
}
.dictation-top-right {
    display: flex;
    flex-wrap: nowrap;
}
.dictation-title {
    display: flex;
    flex-direction: column;
    .legend {
        width: 100%;
        text-align: left;
        font-size: 12px;
        line-height: 14px;
        opacity: .3;
    }
    .name {
        width: 100%;
        text-align: left;
        font-size: 30px;
        line-height: 36px;
        opacity: .7;
    }
}